<ion-view hide-nav-bar="true" id="tab">
    <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Tweet" icon="ion-compose" href="#/tab/tweet" id="tabsController-tab4">
            <ion-nav-view name="tweet"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Home" icon="ion-ios-home" href="#/tab/home" id="tabsController-tab5">
            <ion-nav-view name="home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Setting" icon="ion-android-settings" href="#/tab/setting" id="tabsController-tab3">
            <ion-nav-view name="setting"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>