<ion-view title="Tweet" hide-nav-bar="true" id="tweet">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <form id="tweet-form2" class="list">
            <label class="item item-input" id="tweet-textarea1" name="tweet">
                <span class="input-label"></span>
                <textarea placeholder="いまどうしてる？" class="tweet-text"></textarea>
            </label>
        </form>
        <button id="tweet-button1" class="button button-positive  button-full">ツイート</button>
    </ion-content>
</ion-view>